/bin/
*.nwk
/nets/
/hs_err_pid10764.log
/hs_err_pid11824.log
/hs_err_pid12604.log
/hs_err_pid12640.log
/hs_err_pid13288.log
/hs_err_pid16300.log
/hs_err_pid3528.log
/hs_err_pid4892.log
/hs_err_pid6364.log
/hs_err_pid7048.log
/hs_err_pid7088.log
/hs_err_pid8712.log
/hs_err_pid9292.log
/hs_err_pid9696.log
/hs_err_pid9700.log
/hs_err_pid9792.log
